---
import Button from "@components/Button.astro";
import EpisodeItem from "./EpisodeItem.astro";
import { episodes } from "./constants";

import { classes } from "@shared/lib";
---

<section class="pt-24">
  <div class="flex items-center">
    <h2 class={classes(["text-3xl", "md:text-4xl", "lg:text-5xl"])}>
      Latest episodes
    </h2>
    <Button class="ml-auto">All episodes</Button>
  </div>
</section>

<ul class={classes(["pt-16 flex gap-4 flex-col-reverse", "md:gap-10"])}>
  {
    episodes.map((e) => {
      return (
        <li>
          <EpisodeItem {...e} />
        </li>
      );
    })
  }
</ul>
