---
import aboutPhoto from "@assets/about.png";
import arrow from "@assets/meet-arrow.png";
import { classes } from "@shared/lib";
---

<section
  class={classes([
    "relative mt-16 flex items-center justify-between w-fit mx-auto",
    "md:mt-28",
    "lg:gap-10",
    "xl:gap-24 xl:mt-[260px]",
  ])}
>
  <div class={classes(["absolute p-6 z-10", "lg:static lg:p-0"])}>
    <button class={classes(["hidden", "xl:block"])}>
      <img src={arrow.src} alt="" />
    </button>
    <p class="text-teal-600 mt-5">Meet your host</p>
    <h2 class={classes(["text-3xl", "lg:text-6xl"])}>Jacob&nbsp;Paulaner</h2>
    <p
      class={classes([
        "text-slate-300 text-sm",
        "sm:mt-3 sm:text-lg",
        "md:mt-7 md:text-xl",
      ])}
    >
      Jacob has a background in audio engineering, and has been podcasting since
      the early days.
    </p>
    <p
      class={classes([
        "text-slate-300 text-sm mt-2",
        "sm: mt-5 sm:text-lg",
        "md:mt-8 md:text-xl",
      ])}
    >
      He’s here to help you level up your game by sharing everything he’s
      learned along the way.
    </p>
  </div>
  <img
    src={aboutPhoto.src}
    alt="Jacob photo"
    class={classes(["z-0 brightness-[0.65]", "lg:max-w-lg", "xl:max-w-none"])}
  />
</section>
