---
import Button from "./Button.astro";
import TextInput from "./TextInput.astro";
import { classes } from "@shared/lib";
---

<section class={classes(["mt-20", "md:mt-25", "xl:pt-[150px]"])}>
  <div
    class={classes([
      "flex bg-black justify-between",
      "flex-col rounded-xl p-5",
      "sm:flex-row sm:items-center sm:gap-6",
      "md:gap-10 md:p-10 md:rounded-2xl",
      "lg:items-start lg:gap-16 lg:p-16 lg:rounded-[32px]",
    ])}
  >
    <div>
      <p class="text-teal-600">Email Newsletter</p>
      <h2
        class={classes([
          "text-3xl",
          "sm:text-4xl",
          "md:text-5xl",
          "lg:text-6xl",
          "xl:text-7xl",
        ])}
      >
        Subscribe for updates
      </h2>
    </div>
    <form class={classes(["w-full", "md:max-w-lg gap-5 w-full"])}>
      <TextInput class="mt-5 block" placeholder="Name" />
      <TextInput class="mt-5 block" placeholder="Email" />
      <Button class="block mt-5">Submit</Button>
    </form>
  </div>
</section>
